* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container article {
  margin: 50px;
}
button {
  margin-top: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
